*{
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 600px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

input[type="button"]{
    width: 90px;
    height: 90px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30px;
    color: rgb(255, 106, 0);
    background-color: rgb(255, 255, 255);
}

input[value="="]{
    width: 370px;
    margin-left: 0;
}

#display{
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: bold;
    font-size: 50px;
    border: solid 1px;
    border-color: rgb(255, 106, 0);
    border-radius: 10px;
    margin-left: 30px;
}

div .cor{
    background-color: rgb(255, 106, 0);
    color: cornsilk;
}

@media (max-width: 500px) {
    section{
        width: 400px;
        height: 300px;
    }
    input[type="button"]{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    #display{
        width: 250px;
        height: 70px;
        font-size: 20px;
    }
    input[value="="]{
        width: 218px;
    }
}